<%- include("./components/header") %>

<a class="aTag" href="/feed"><h4 class="wellComeToFB">Back to home page</h4></a>
    <h5>Hmmm...</h5>
    <h6 class="H6">Hmmm!!.....Make sure that your name and message are less than 15 and 40 characters respectively.</h6>


    
<%- include("./components/footer") %> 
