<%- include("./components/header") %>

<a class="aTag" href="/feed"><h4 class="Back to home page!">go back home page</h4></a>

    <h5 class="notFound">Opps...</h5>
    <h6 class="notFound"> The page could not be found back to home page!</h6>


    
<%- include("./components/footer") %> 
